/* NewsSearch.css */
.search-fields {
  display: flex; 
  flex-wrap: wrap; 
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.button-search {
  background-color: #0a4a80;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.button-search:hover {
  background-color: #055b98;
}

.performance-metrics {
  background-color: #d4c9c98d;
  border-left: 5px solid #0a4a80;
  padding: 10px;
  margin: 20px auto;
  max-width: 300px; /* Constrain the width of the performance metrics */
  width: 100%; /* Make it responsive */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.news-article {
  border: 1px solid #dee2e6;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
  background-color: #d4c9c98d;
}

.news-article:hover {
  transform: translateY(-5px);
}

.news-article h2 {
  color: #0a4a80;
}

.news-article p {
  color: #333;
}

.news-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
