.search-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center; /* Centers the fields horizontally */
} 

.button-search {
  background-color: #0a4a80;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.button-search:hover {
  background-color: #055b98;
}

.input-field,
.select-field {
  padding: 10px;
  border: 2px solid #0a4a80;
  border-radius: 5px;
  margin: 5px;
}

.input-field::placeholder {
  color: #0a4a80;
}

.performance-metrics {
  background-color: #f1f1f1;
  border-left: 5px solid #0a4a80;
  padding: 10px;
  margin-bottom: 20px;
}

.news-article {
  border: 1px solid #dee2e6;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.news-article:hover {
  transform: translateY(-5px); /* 'Lift' effect on hover */
}

.news-article h2 {
  color: #0a4a80;
}

.news-article p {
  color: #333;
}

.search-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center; /* Centers the fields horizontally */
}

.news-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


